#border{ box-shadow: 10px 10px 10px; border: solid 10px;
    animation: color 5s infinite linear;
  
  }
 .child @keyframes color {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
  }
          #gender {
    animation: color 5s infinite linear;
  
  }
  @keyframes color {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
  }
nav > ul > li {text-decoration: none;display: inline-block;margin-right: 10px;}
#Html {margin-bottom: 10px;}
footer {text-align: center;margin: 10px;}
table{border-collapse: collapse;}
td {border: 1px solid black;padding: 10px;}
thead{text-align: center;}
fieldset {margin-bottom: 10px;}
tfoot{text-align: center;}
nav > ul {display: inline-block;}
.dropdown {display: none;list-style: none;font-size;}

.dropdown :visited{color: #ffffff;}

nav ul li :hover {display: block;}

nav  ul :hover > .dropdown {display: block;}


.parent{font-size: 30px;display: flex;margin-top: 10px;gap: 30px;justify-content: center;}

.child {border: 10px solid;border-radius: 10px;box-shadow: 10px 10px 10px;animation: color 5s infinite linear;}

.navigation-bar{position: relative;display: flex}

.first-three{color: #ffffff; position: absolute;left: 40%;font-size: xx-large;top: -40%;color: whitesmoke;}
.textbox{width: 20%;margin: auto;}
.textbox:hover{border-radius: 20%;border-color: #FF0000;border-width: 5px;color: green;}

.align-everything{display: flex;flex-direction: column;}

.centered{display: flex;align-items: center;justify-content: space-evenly;flex-direction: column;margin: 0 auto;}



#nav-bg-img{background-size: cover;background-image: url('licensed-image.jpg');}

.first-three :visited {color: #ffffff;}



#dropdown-color {color: #ffffff;}











