#border{ box-shadow: 10px 10px 10px; border: solid 10px;
    animation: color 5s infinite linear;
  
  }
  @keyframes color {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
  }
          #gender {
    animation: color 5s infinite linear;
  
  }
  @keyframes color {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
  }
nav > ul > li {display: inline;margin-right: 10px;}
nav > ul > li > a {text-decoration: none;}
#Html {margin-bottom: 10px;}
footer {text-align: center;margin: 10px;}
table{border-collapse: collapse;}
td {border: 1px solid black;padding: 10px;}
thead{text-align: center;}
fieldset {margin-bottom: 10px;}
tfoot{text-align: center;}
nav > ul > li :hover{background-color: rgba(102, 51, 153, 0.342);}
nav > ul {display: flex;}
.dropdown {display: none;list-style: none;}

nav ul li :hover {display: block;}

nav  ul :hover > .dropdown {display: block;}

nav  ul :hover > .dropdown {display: block;}


